<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__logo-wrap">
                <img class='header__logo' src="images/logo.png" width="273" height="100" alt="название компании">
            </div>
            <div class="header__telephones">
                <a class="header__telephone" href="tel:+7(499) 777-77-77">+7(499) 777-77-77</a>
                <a class="header__telephone" href="tel:+7(499) 777-77-77">+7(499) 777-77-77</a>
            </div>
        </div>
</header>