<section class="info">
    <div class="container">
        <h3 class="section__title--black">просто текстовый блок</h3>
        <p class="info__desc">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Nullam posuere quis arcu sit
            amet commodo. Nullam ac dui
            lacus. Nulla dapibus interdum
            interdum. Curabitur ut diam nisl.
            Vivamus libero lacus, viverra at
            dolor sit amet, commodo faucibus
            orci. Vivamus laoreet ornare nisi,
            id pharetra tellus ullamcorper
            volutpat. Sed lacinia placerat
            accumsan. Praesent pharetra ipsum
            scelerisque, sodales urna ut,
            placerat nulla. Duis nunc urna,
            semper non arcu ut, sagittis dapibus
            lorem. Nunc nec urna id velit sodales
            sodales. Sed porttitor quam eget
            mollis consequat. Curabitur aliquet
            nec dui eget aliquet. Nulla in risus
            ante.
        </p>
    </div>
</section>