{#<section class="modal">#}
{#    <div class="modal__content">#}
{#        <span class="modal__close">&times;</span>#}
{#        <h1>Сообщение отправлено!</h1>#}
{#    </div>#}
{#</section>#}

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="modal__close">&times;</span>
        <p>Сообщение успешно отправлено!</p>
    </div>
</div>