<section class="slider">
    <h3 class="slider__title section__title">тут у нас слайдер</h3>
    <div class="slider__wrap">
        <div class="slider__slide">
            <div class="slider__img-wrap">
                <img class='slider__img' src="images/slide-1.jpg" width="672" height="287" alt="">
            </div>
        </div>
        <div class="slider__slide">
            <div class="slider__img-wrap">
                <img class='slider__img' src="images/slide-2.jpg" width="672" height="287" alt="">
            </div>
        </div>
        <div class="slider__slide">
            <div class="slider__img-wrap">
                <img class='slider__img' src="images/slide-3.jpg" width="672" height="287" alt="">
            </div>
        </div>
    </div>
</section>