@font-face {
  font-family: "myriadRegular";
  src: url("../fonts/MyriadProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "myriadSemibold";
  src: url("../fonts/MyriadProSemibold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "myriadProBold";
  src: url("../fonts/MyriadProBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyeiadProSemioBoldIt";
  src: url("../fonts/MyeiadProSemioBoldIt.otf");
  font-style: normal;
  font-weight: normal;
}